h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    width:100%;
    list-style-type: none;
    margin: 0;
}
.titles{
    width: 100%;
    border: 2px solid #0d3859;
    border-radius:7px;
    margin: 5px 0;
    padding: 0;
}

span{
    text-align: center;
    display: inline-block;
    width: 25%;
    

}

#idSpan, #bdSpan, #btSpan{
    border-right:2px solid #0d3859 ;
}