.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #114d7a;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  justify-content: space-between;
}

  .toolbar img {
    margin: 0 16px;
  }


.buttons {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

#logo{
  padding:0.3em;
  margin-right: 1.5em;
}

.logo_msg
{
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;
  margin-left:0;
}

.toolbar{
  display: flex;
  justify-content: space-between;
  padding:0.3em;
}
