<div class="toolbar" role="banner">
  <div class="logo_msg">
    <img id="logo" width="60"
         alt="House Logo"
         src="../../../assets/images/houselogo_color.png"
         [routerLink]="['/HousePricePrediction']"/>
    <a class="nav-link text-white" [routerLink]="['/HousePricePrediction']">Home</a>
  </div>
  <div class="buttons">
    <a class="nav-link text-white" [routerLink]="['/addHouse']">Add House</a>
    <a class="nav-link text-white" [routerLink]="['/dashboard']">Dashboard</a>
  </div>
</div>

