.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  font-weight: 600;
  justify-content: space-between;
}

  .toolbar img {
    margin: 0 16px;
  }


.buttons {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.logo_msg
{
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}
