<div class="container">
    <div class="line">
        <div class="col1">
            <span id="idP">House ID</span>
        </div>
        <div class="col2">
            <span id="idP">{{house.id}}</span>
        </div>
    </div>
    <div class="line">
        <div class="col1">
            <span id="bedP">Number of bedrooms</span>
        </div>
        <div class="col2">
            <span id="bedP">{{house.bedrooms}}</span>
        </div>
    </div>
    <div class="line">
        <div class="col1">
            <span id="bathP">Number of bathrooms</span>
        </div>
        <div class="col2">
            <span id="bathP">{{house.bathrooms}}</span>
        </div>
    </div>
    <div class="line">
        <div class="col1">
            <span id="squareP">Square feet of space</span>
        </div>
        <div class="col2">
            <span id="squareP">{{house.squareFeet}}</span>
        </div>
    </div>
      <div class="line">
        <div class="col1">
            <span id="floorP">Floors</span>
        </div>
        <div class="col2">
            <span id="floorP">{{house.floors}}</span>
        </div>
    </div>
    <div class="line">
        <div class="col1">
            <span id="zipP">Zipcode</span>
        </div>
        <div class="col2">
            <span id="zipP">{{house.zipCode}}</span>
        </div>
    </div>
    <div class="line">
        <div class="col1">
            <span id="yearP">Year of building</span>
        </div>
        <div class="col2">
            <span id="yearP">{{house.yearBuilt}}</span>
        </div>
    </div>
    <div class="line">
        <div class="col1">
            <span id="priceP">Price</span>
        </div>
        <div class="col2">
            <span id="priceP">{{house.price}}$</span>
        </div>
    </div>

</div>