.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #1E457C;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

#progress{
  border-radius: 25px ;
  color: blue;
  height: 10vh;
  width: 100%;
}

.feedback{
  margin-top: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#message{
  font-size: 30px;
  text-align: center;
  color: #052136;
}
