<div class="space"></div>
<h1 class="title">House Price Prediction</h1>

<p class="insert">Insert House Data</p>

<form [formGroup]="form" (ngSubmit)="submit()">


  <div class="inputs">


    <div class="zipcode-div">
      <input [(ngModel)]="houseModel.zipcode" type="text" class="input" formControlName="zipcode" placeholder="ZipCode" (focus)="setInvalidForm()"/>
      <div *ngIf=" f.zipcode.touched && f.zipcode.invalid" class="alert alert-danger">
        <div *ngIf="f.zipcode.errors.required">Input is empty.</div>
        <div *ngIf="f.zipcode.errors.pattern">Enter only numbers!</div>
        <div *ngIf="f.zipcode.errors.minlength || f.zipcode.errors.maxlength">US Zip Codes are five numerical digits
          long.
        </div>
      </div>
    </div>

    <div class="year-div">
      <input [(ngModel)]="houseModel.yearbuilt" type="text" class="input" formControlName="year" placeholder="Year Built" (focus)="setInvalidForm()"/>
      <div *ngIf="f.year.touched && f.year.invalid" class="alert alert-danger">
        <div *ngIf="f.year.errors.required">Input is empty.</div>
        <div *ngIf="f.year.errors.pattern">Enter only numbers!</div>
        <div *ngIf="f.year.errors.min">Too old.</div>
        <div *ngIf="f.year.errors.max">It has not yet been built.</div>
      </div>
    </div>

    <div class="bedrooms-div">
      <input [(ngModel)]="houseModel.bedrooms" type="text" class="input" formControlName="bedrooms" placeholder="Bedrooms" (focus)="setInvalidForm()"/>
      <div *ngIf="f.bedrooms.touched && f.bedrooms.invalid" class="alert alert-danger">
        <div *ngIf="f.bedrooms.errors.required">Input is empty.</div>
        <div *ngIf="f.bedrooms.errors.pattern">Enter only numbers!</div>
        <div *ngIf="f.bedrooms.errors.min">At least one bedroom.</div>
      </div>
    </div>

    <div class="bathrooms-div">
      <input [(ngModel)]="houseModel.bathrooms" type="text" class="input" formControlName="bathrooms" placeholder="Bathrooms" (focus)="setInvalidForm()"/>
      <div *ngIf="f.bathrooms.touched && f.bathrooms.invalid" class="alert alert-danger">
        <div *ngIf="f.bathrooms.errors.required">Input is empty.</div>
        <div *ngIf="f.bathrooms.errors.pattern">Enter only numbers!</div>
        <div *ngIf="f.bathrooms.errors.min">At least one bathroom.</div>
      </div>
    </div>

    <div class="sqftliving-div">
      <input [(ngModel)]="houseModel.squareFeet" type="text" class="input" formControlName="sqftliving" placeholder="Sqft Living"
             (focus)="setInvalidForm()"/>
      <div *ngIf="f.sqftliving.touched && f.sqftliving.invalid" class="alert alert-danger">
        <div *ngIf="f.sqftliving.errors.required">Input is empty.</div>
        <div *ngIf="f.sqftliving.errors.pattern">Enter only numbers!</div>
        <div *ngIf="f.sqftliving.errors.min">At least 100 sqft.</div>
      </div>
    </div>


    <div class="floors-div">
      <input [(ngModel)]="houseModel.floors" type="text" class="input" formControlName="floors" placeholder="Floors" (focus)="setInvalidForm()"/>
      <div *ngIf="f.floors.touched && f.floors.invalid" class="alert alert-danger">
        <div *ngIf="f.floors.errors.required">Input is empty.</div>
        <div *ngIf="f.floors.errors.pattern">Enter only numbers!</div>
        <div *ngIf="f.floors.errors.min">At least 1 floor.</div>
      </div>
    </div>

  </div>

  <div class="submitDiv">
    <input type="submit" class="submitInputs" value="Compute the price" (click)="computePrice(houseModel)">
    <div *ngIf="control.errors && this.invalidForm==true" class="alert alert-danger">Please complete all required
      fields.
    </div>
  </div>

</form>


