.title {
  text-align: center;
  font-size: 64px;
}


.insert {
  text-align: center;
  margin-top: 50px;
  font-size: 31px;
}

.input {
  color: lightslategrey;
  border: 2px solid #0d3859;
  border-radius: 5px;
  width: 260px;
  height: 30px;
  margin: 10px;
  background-color: #e6f2f2;
  padding:3px;
}

.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 1.2em;
  margin: 50px 10% 0 10%;
}

.submitDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: max-content;
  flex-direction: column;
  flex: auto;
  margin-top: 90px;
  /*
  height: 400px;
  */
}

.submitInputs {
  background-color: #114d7a;
  border: 2px solid #114d7a;
  border-radius: 20px;
  size: 20px;
  text-align: center;
  color:white ;
  text-decoration: none;
  font-size: 1.4em;
  padding: 10px 35px;
}

input.ng-invalid {
  border-right: 5px solid red;
}
input.ng-valid {
  border-right: 5px solid #0d3859;
}

  .submitInputs:hover {
    background: white;
    border: 2px solid lightslategray;
    color: black;
  }

  .space{
      height: 100px;
  }
