<div class="space"></div>
<h1 class="title">House Price Prediction</h1>

<p class="insert">Insert House Data</p>

<div class="inputs">
  <input type="text" class="input" placeholder="Price" />
  <input type="text" class="input" placeholder="ZipCode" />
  <input type="text" class="input" placeholder="Address" />
  <input type="text" class="input" placeholder="Room Number" />
  <input type="text" class="input" placeholder="Floors" />
</div>

<div class="submitDiv">
  <input type="submit" class="submitInputs" value="Compute the price">
</div>


