.title {
  text-align: center;
  font-size: 64px;
}


.insert {
  text-align: center;
  margin-top: 50px;
  font-size: 31px;
}

.input {
  color: lightslategrey;
  border: 1px solid #0d3859;
  border-radius: 5px;
  width: 260px;
  height: 30px;
  margin: 10px;
}

.inputs {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.submitDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: max-content;
  flex-direction: column;
  flex: auto;
  margin-top: 150px;
  /*
  height: 400px;
  */
}

.submitInputs {
  height: 80px;
  background: lightskyblue;
  border: 2px solid royalblue;
  border-radius: 15px;
  color: #0d3859;
  /*font-weight: bold;*/
  font-size: larger;
}

input.ng-invalid {
  border-right: 5px solid red;
}
input.ng-valid {
  border-right: 5px solid #0d3859;
}

  .submitInputs:hover {
    background: dodgerblue;
    border: 2px solid royalblue;
    color: aliceblue;
  }

  .space{
      height: 100px;
  }
