<div class="space"></div>
<h1 class="title">House Price Prediction</h1>

<p class="insert">Insert House Data</p>

<div class="inputs">
  <input type="text" class="input" value="Price" />
  <input type="text" class="input" value="ZipCode" />
  <input type="text" class="input" value="Address" />
  <input type="text" class="input" value="Room Number" />
  <input type="text" class="input" value="Floors" />
</div>

<div class="submitDiv">
  <input type="submit" class="submitInputs" value="Compute the price">
</div>


