.title {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 100px;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 300px;
}

.price {
  text-align: center;
  width: 200px;
  height: 80px;
  background-color: #fff;
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.btn-primary
{
  height: 50px;
  width: 100px;
  background-color: #114d7a;
}

.btn-primary:hover
{
  background: white;
  color:black;
  border: 2px solid lightslategray;
}

.btn-info
{
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  background: #114d7a;
  border: lightslategrey;
}

.btn-info:hover
{
  background: white;
  color: black;
  border: 2px solid lightslategray;
}


.buttons
{
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: space-around;
}

.btn-info {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.btn-info .tooltiptext {
  visibility: hidden;
  width: 420px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  /*right: 50%;*/
  margin-left: -220px;
}

.btn-info .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.btn-info:hover .tooltiptext {
  visibility: visible;
}


